<div ng-cloak>



        <md-content class="md-padding md-primary" layout-xs="column" layout="row" >
            <div flex layout="row" layout-sm="column" layout-xs="column">
                <md-card flex ng-repeat="entries in view1.cardRow" ng-class="entries.color">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{entries.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h1 style="text-align: center">{{entries.value}}</h1>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button  md-accent md-raised">
                            <md-tooltip md-direction="top">Maximum</md-tooltip>
                            <i class="material-icons">arrow_upward</i></md-button>
                        <md-button class="md-icon-button md-raised md-accent">
                            <md-tooltip md-direction="top">Durchschnitt</md-tooltip>
                            <i class="material-icons">trending_flat</i>
                        </md-button>
                        <md-button class="md-icon-button md-raised md-accent">
                            <md-tooltip md-direction="top">Aktuell</md-tooltip>
                            <i class="material-icons">autorenew</i>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    <p>Bitte wählen Sie eine Auftragsnummer:   <md-input-container>
        <label>Bestellnummer</label>
        <md-select ng-model="view1.choosenOrderNumber" placeholder="Bestellnummer">
            <md-option ng-repeat="number in view1.getOrderNumber" ng-value="number">{{number}}</md-option>
        </md-select>
    </md-input-container></p>
    {{view1.getAllCustomers}}
    <md-table-container>
        <table md-table  md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr >
                <th md-column md-numeric md-order-by="calories.value"><span>Kundennummer</span></th>
                <th md-column md-numeric>Anzahl Bestellungen</th>
                <th md-column md-numeric>Letzte Bestellung</th>
                <th md-column md-numeric>Anzahl der bestellten Materialien</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-select="dessert" md-select-id="name" md-auto-select ng-repeat="entries in view1.getCustomerNumbers">
                <td md-cell>{{entries}}</td>
  <!--              <td md-cell>{{dessert.calories.value}}</td>
                <td md-cell>{{dessert.fat.value | number: 1}}</td>
                <td md-cell>{{dessert.carbs.value}}</td>-->
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

  <!--      <md-content>
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-card flex ng-repeat="charts in view1.chartRow">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{charts.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h1 style="text-align: center">...</h1>
                    </md-card-content>
                    <canvas class="chart-base" chart-data="charts.data" chart-type="charts.type"
                            chart-labels="charts.labels" chart-series="series" chart-options="charts.options"
                            chart-dataset-override="charts.datasetOverride" chart-click="onClick">
                    </canvas>
                </md-card>
            </div>
        </md-content>

            <md-content>
        <li ng-repeat="drillings in view1.kafkadata">
            {{drillings.value}}
            <p>{{drillings.status}}</p>
        </li>
    </md-content>-->


<!--    <div>
        {{view1.getOrderDetails}}
    </div>-->
</div>


<!--
<md-content class="md-padding md-primary" layout-xs="column" layout="row" ng-hide="view1.checked">
    <div flex layout="row" layout-sm="column" layout-xs="column">
        <md-card flex ng-repeat="entries in view1.cardRow" ng-class="entries.color">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{entries.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">{{entries.value}}</h1>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-accent md-raised">
                    <md-tooltip md-direction="top">Maximum</md-tooltip>
                    <i class="material-icons">arrow_upward</i></md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">Durchschnitt</md-tooltip>
                    <i class="material-icons">trending_flat</i>
                </md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">Aktuell</md-tooltip>
                    <i class="material-icons">autorenew</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<md-content ng-hide="view1.checked">
    <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex ng-repeat="charts in view1.chartRow">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{charts.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">...</h1>
            </md-card-content>
            <canvas class="chart-base" chart-data="charts.data" chart-type="charts.type"
                    chart-labels="charts.labels" chart-series="series" chart-options="charts.options"
                    chart-dataset-override="charts.datasetOverride" chart-click="onClick">
            </canvas>
        </md-card>
    </div>
</md-content>-->
