<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<div ng-cloak>
            <md-content class="md-padding md-primary" layout-xs="column" layout="row" >
                <md-card ng-repeat="werte in view1.cardRow" ng-click="view1.changeChart(werte.type)">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{werte.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content ng-if="werte.status == 'aktuell'">
                        <md-card-content ng-if="werte.type=='ds'">
                            <h1 style="text-align: center"> {{view1.getDSpeedaktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content ng-if="werte.type=='dh'">
                            <h1 style="text-align: center"> {{view1.getDHeataktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='ms'">
                            <h1 style="text-align: center" > {{view1.getMSpeedaktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='mh'">
                            <h1 style="text-align: center"> {{view1.getMHeataktuell|roundup}}</h1>
                        </md-card-content>
                    </md-card-content>
                    <md-card-content ng-if="werte.status == 'maximum'">
                        <md-card-content ng-if="werte.type=='ds'">
                            <h1 style="text-align: center"> {{view1.getDSpeedMaximum|roundup}}</h1>
                        </md-card-content>
                        <md-card-content ng-if="werte.type=='dh'">
                            <h1 style="text-align: center"> {{view1.getDHeatMaximum|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='ms'">
                            <h1 style="text-align: center" > {{view1.getMSpeedMaximum|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='mh'">
                            <h1 style="text-align: center"> {{view1.getMHeatMaximum|roundup}}</h1>
                        </md-card-content>
                    </md-card-content>
                    <md-card-content ng-if="werte.status == 'durchschnitt'">
                        <md-card-content ng-if="werte.type=='ds'">
                            <h1 style="text-align: center"> {{view1.getDSpeedaktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content ng-if="werte.type=='dh'">
                            <h1 style="text-align: center"> {{view1.getDHeataktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='ms'">
                            <h1 style="text-align: center" > {{view1.getMSpeedaktuell|roundup}}</h1>
                        </md-card-content>
                        <md-card-content  ng-if="werte.type=='mh'">
                            <h1 style="text-align: center"> {{view1.getMHeataktuell|roundup}}</h1>
                        </md-card-content>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button  md-accent md-raised" ng-click="view1.changestatus('maximum',werte.type)">
                            <md-tooltip md-direction="top">{{view1.maximum}}</md-tooltip>
                            <i class="material-icons">arrow_upward</i></md-button>
                        <md-button class="md-icon-button md-raised md-accent" ng-click="view1.changestatus('durchschnitt',werte.type)">
                            <md-tooltip md-direction="top">Durchschnitt</md-tooltip>
                            <i class="material-icons">trending_flat</i>
                        </md-button>
                        <md-button class="md-icon-button md-raised md-accent" ng-click="view1.changestatus('aktuell',werte.type)">
                            <md-tooltip md-direction="top">Aktuell</md-tooltip>
                            <i class="material-icons">autorenew</i>
                        </md-button>
                    </md-card-actions>
                    DEBUG:
                    {{werte.type}}
                    {{werte.status}}
                </md-card>
        </md-content>
    <div>Aktueller Auftrag:{{view1.getCurrentOrder.orderNumber}}</div>
            <md-card flex ng-repeat="charts in view1.chartRow" ng-if="view1.showCharttype==charts.ctype">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{charts.name}}</span>
                    </md-card-title-text>
                </md-card-title>
           <!--     <md-card-content>
                    <h1 style="text-align: center">...</h1>
                </md-card-content>-->
                <canvas class="chart-base" chart-data="charts.data" chart-type="charts.type"
                        chart-labels="charts.labels" chart-series="series" chart-options="charts.options"
                        chart-dataset-override="charts.datasetOverride" chart-click="onClick">
                </canvas>
            </md-card>
<!--   dspeed: {{view1.getChartDSpeedaktuell}}
   mspeed:{{view1.getChartMSpeedaktuell}}
    cardrow:{{view1.cardRow}}-->
   <!-- <table ng-table="view1.tableParams" show-filter="true" class="table table-condensed table-bordered">
        <tr ng-repeat="user in view1.data">
            <td data-title="'Name'" header-class="'text-left'" sortable="'name'" filter="{ 'name': 'text' }">
                {{user.name}}
            </td>
            <td data-title="'Age'" header-class="'text-right'" sortable="'age'" filter="{ 'age': 'text' }">
                {{user.age}}
            </td>
        </tr>
    </table>-->
    <table style="width:100%">
        <tr>
            <th>Kundennummer</th>
            <th>Anzahl der Bestellungen</th>
            <th>Letzte Bestellung</th>
            <th>Anzahl Materialien</th>
        </tr>
        <tr ng-repeat="info in view1.getCustomerInfos | orderBy" style="text-align: center">
            <td>{{info.customerNumber}}</td>
            <td>{{info}}</td>
            <td>{{info.timeStamp|date:'dd.MM.yyyy @ HH:mm'}}</td>
            <td>{{info}}</td>
        </tr>
    </table>
    <md-button ng-click="view1.testundso()"> geht es?</md-button>

    <h1>{{view1.getTestData}}</h1>
<!--    {{view1.getAllCustomers}}
    <md-table-container>
        <table md-table  md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr >
                <th md-column md-numeric md-order-by="calories.value"><span>Kundennummer</span></th>
                <th md-column md-numeric>Anzahl Bestellungen</th>
                <th md-column md-numeric>Letzte Bestellung</th>
                <th md-column md-numeric>Anzahl der bestellten Materialien</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-select="dessert" md-select-id="name" md-auto-select ng-repeat="entries in view1.getCustomerNumbers">
                <td md-cell>{{entries}}</td>
  &lt;!&ndash;              <td md-cell>{{dessert.calories.value}}</td>
                <td md-cell>{{dessert.fat.value | number: 1}}</td>
                <td md-cell>{{dessert.carbs.value}}</td>&ndash;&gt;
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>

&lt;!&ndash;    {{view1.getSpeedMaximum}}
    {{view1.getHeataktuell}}
    {{view1.getSpeedaktuell}}&ndash;&gt;->>
  <!--      <md-content>
            <div layout="row" layout-sm="column" layout-xs="column">
                <md-card flex ng-repeat="charts in view1.chartRow">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{charts.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <h1 style="text-align: center">...</h1>
                    </md-card-content>
                    <canvas class="chart-base" chart-data="charts.data" chart-type="charts.type"
                            chart-labels="charts.labels" chart-series="series" chart-options="charts.options"
                            chart-dataset-override="charts.datasetOverride" chart-click="onClick">
                    </canvas>
                </md-card>
            </div>
        </md-content>

            <md-content>
        <li ng-repeat="drillings in view1.kafkadata">
            {{drillings.value}}
            <p>{{drillings.status}}</p>
        </li>
    </md-content>-->


<!--    <div>
        {{view1.getOrderDetails}}
    </div>-->
</div>


<!--
<md-content class="md-padding md-primary" layout-xs="column" layout="row" ng-hide="view1.checked">
    <div flex layout="row" layout-sm="column" layout-xs="column">
        <md-card flex ng-repeat="entries in view1.cardRow" ng-class="entries.color">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{entries.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">{{entries.value}}</h1>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button  md-accent md-raised">
                    <md-tooltip md-direction="top">Maximum</md-tooltip>
                    <i class="material-icons">arrow_upward</i></md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">Durchschnitt</md-tooltip>
                    <i class="material-icons">trending_flat</i>
                </md-button>
                <md-button class="md-icon-button md-raised md-accent">
                    <md-tooltip md-direction="top">Aktuell</md-tooltip>
                    <i class="material-icons">autorenew</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
<md-content ng-hide="view1.checked">
    <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex ng-repeat="charts in view1.chartRow">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{charts.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h1 style="text-align: center">...</h1>
            </md-card-content>
            <canvas class="chart-base" chart-data="charts.data" chart-type="charts.type"
                    chart-labels="charts.labels" chart-series="series" chart-options="charts.options"
                    chart-dataset-override="charts.datasetOverride" chart-click="onClick">
            </canvas>
        </md-card>
    </div>
</md-content>-->
