<p>Bitte wählen Sie eine Kundennummer   <md-input-container>
    <label>Kundennummer</label>
    <md-select ng-model="view2.choosenCustomerNumber" placeholder="Kundennummer">
        <md-option ng-repeat="number in view2.getCustomerNumbers| orderBy" ng-value="number">{{number}}</md-option>
    </md-select>
</md-input-container></p>
<p><md-input-container>
    <label>Bestellnummer</label>
    <md-select ng-model="view2.choosenOrderNumber" placeholder="Bestellnummer">
        <md-option ng-repeat="number2 in view2.getOrderNumber track by $index" ng-value="number2" >{{number2}}</md-option>
    </md-select>
</md-input-container></p>
{{view2.getOrderData}}
<md-content class="md-padding md-primary" layout-xs="column" layout="row" >
    <md-card ng-repeat="werte in view2.getOrderData" ng-click="view1.changeChart(werte.type)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{werte.name}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="werte.status == 'aktuell'">
            <md-card-content ng-if="werte.type=='ds'">
                <h1 style="text-align: center"> {{view1.getDSpeedaktuell}}</h1>
            </md-card-content>
            <md-card-content ng-if="werte.type=='dh'">
                <h1 style="text-align: center"> {{view1.getDHeataktuell}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='ms'">
                <h1 style="text-align: center" > {{view1.getMSpeedaktuell}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='mh'">
                <h1 style="text-align: center"> {{view1.getMHeataktuell}}</h1>
            </md-card-content>
        </md-card-content>
        <md-card-content ng-if="werte.status == 'maximum'">
            <md-card-content ng-if="werte.type=='ds'">
                <h1 style="text-align: center"> {{view1.getDSpeedMaximum}}</h1>
            </md-card-content>
            <md-card-content ng-if="werte.type=='dh'">
                <h1 style="text-align: center"> {{view1.getDHeatMaximum}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='ms'">
                <h1 style="text-align: center" > {{view1.getMSpeedMaximum}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='mh'">
                <h1 style="text-align: center"> {{view1.getMHeatMaximum}}</h1>
            </md-card-content>
        </md-card-content>
        <md-card-content ng-if="werte.status == 'durchschnitt'">
            <md-card-content ng-if="werte.type=='ds'">
                <h1 style="text-align: center"> {{view1.getDSpeedaktuell}}</h1>
            </md-card-content>
            <md-card-content ng-if="werte.type=='dh'">
                <h1 style="text-align: center"> {{view1.getDHeataktuell}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='ms'">
                <h1 style="text-align: center" > {{view1.getMSpeedaktuell}}</h1>
            </md-card-content>
            <md-card-content  ng-if="werte.type=='mh'">
                <h1 style="text-align: center"> {{view1.getMHeataktuell}}</h1>
            </md-card-content>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button  md-accent md-raised" ng-click="view1.changestatus('maximum',werte.type)">
                <md-tooltip md-direction="top">{{view1.maximum}}</md-tooltip>
                <i class="material-icons">arrow_upward</i></md-button>
            <md-button class="md-icon-button md-raised md-accent" ng-click="view1.changestatus('durchschnitt',werte.type)">
                <md-tooltip md-direction="top">Durchschnitt</md-tooltip>
                <i class="material-icons">trending_flat</i>
            </md-button>
            <md-button class="md-icon-button md-raised md-accent" ng-click="view1.changestatus('aktuell',werte.type)">
                <md-tooltip md-direction="top">Aktuell</md-tooltip>
                <i class="material-icons">autorenew</i>
            </md-button>
        </md-card-actions>
        DEBUG:
        {{werte.type}}
        {{werte.status}}
    </md-card>
</md-content>